body {
    background-color: #FFB6C1;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    margin: 0 auto;
    text-align: center;
  }
  hr {
    border-top: 2px solid #6C63FF; 
  }
  li {
    list-style: none;
    text-align: left;
    color: #6C63FF;
    margin: 5px 30px 5px 45px;
  }
  .container {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    text-align: center;
  }
  .card {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-image: linear-gradient(to bottom, #fff0ef, #FFB6C1);
  }
  .card-p {
    height: 100px;
  }
  .col {
    max-width: 100px;
    padding: 5px;
  }
  .card-title-p {
    font-size: 15px;
  }
  .btn-primary {
    color:#6C63FF;
    background-color: #fff0ef;
    border-color: #6C63FF;
  }
  .btn-primary:hover {
    background-color: #6C63FF;
    border-color: #fff0ef;
    color: #FFB6C1;
  }
  .convert-link {
   display: inline-block;
   text-align: top;
   text-decoration: none;
   color: #6C63FF;
   font-weight: 600;
  }
  .convert-link:hover {
    text-decoration: underline;
  }
  .divider {
    color: #6C63FF;
  }
  .units {
    position: relative;
    top: -15px;
  }
  .weather-temperature .active {
    color: #39374E;
    cursor: default;

  }
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  #temp {
    display: inline-block;
    color: #39374E;
  }
  #cat-image {
    height: 100px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  #currentCard {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  } 
  #code-link {
    text-decoration: none;
    color: #6C63FF;
    cursor: pointer;
  }  
  #code-link:hover {
    text-decoration: underline;
  }
  #search-form {
    border: 1px solid #6C63FF;
    background-color: #fff0ef;
  }
  #city {
    line-height: 1;
    margin: 15px;
  }
  #city-input {
    width: 40%;
  }
  #city-input:focus {
    border-color: #6C63FF;
    box-shadow: none;
  }
  #description {
    font-style: italic;
    margin: 0 auto;
    color: #6C63FF;
  }
#weather-icon {
  filter: hue-rotate(240deg);
}
 